{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{url 'home'}">Minerva</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload' %}">Upload</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" action="{% url 'search' %}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search" name="q"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li class="nav-item ms-auto">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        Menu
                    </button>
                </li>
            </ul>

        </div>

    </div>
</nav>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <a href="{% url 'home' %}">Home</a>
        </div>
        <hr>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <hr>
        <div>
            <a href="{% url 'user-profile' %}">Profile</a>
        </div>
        <hr>
    </div>
    </ul>
</div>
</div>