<!DOCTYPE html>
<html>
{% load static %}

<head>
    <link rel="stylesheet " href="{% static 'styles/footerStyle.css' %}">
    <link rel="stylesheet " href="{% static 'styles/carousel.css' %} ">
    <link rel="stylesheet " href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css "
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p " crossorigin="anonymous " />
    <link rel="stylesheet " href="{% static 'styles/bootstrap.min.css' %}">
    <link href="{% static 'styles/main.3f6952e4.css' %}" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}

    {% endblock content %}
    <br><br>
    {% include 'footer.html' %}


    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/main.70a66962.js' %}"></script>

    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>