<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hello Mate</p>
    <p>oy Nigger</p>
    {% for material in materials %}
    <p>{{material.host}}</p>
    <p><a href="{% url 'material' material.id %}">{{material.name}}</a></p>
    <p>{{material.author}}</p>
    <p>{{material.description}}</p>
    <p>{{material.course}}</p>
    <a href="{{material.file.url}}"><img src="" alt="this is the books img"></a>
    {% endfor %}
</body>

</html>