{% load static %}
<link href="{% static 'styles/main_3f6952e4.css' %}" rel="stylesheet">

<body class="minimal">
    <header>
        <nav class="navbar  navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li></li>
                        <li><a href="{% url 'home' %}" title="" style="color: white; font-size: xx-large;">Home</a><br>
                        </li>
                        <li><a href="{% url 'register' %}" title=""
                                style="color: white; font-size: xx-large;">Register</a><br>
                        </li>
                        <li><a href="{% url 'login' %}" title=""
                                style="color: white; font-size: xx-large;">Login</a><br>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
    </header>
    <div class="hero-full-container background-image-container white-text-container"
        style="background-image: url('static/images/HD-Library-Wallpaper.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>Welcome,<br>
                                <span id="typed-strings">
                                    <span>This is Minerva</span>
                                    <span>File Hosting platform</span>
                                    <span>Provided for all AAiT Students</span>
                                </span>
                                <span id="typed"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            type();
            movingBackgroundImage();
        });
    </script>

    <script src="{% static 'js/main.70a66962.js' %}"></script>