<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ho.css' %}">
    <link rel="stylesheet" href="{% static 'css/star.css' %}">
</head>
<body>
    <p>{{material.host}}</p>
    <p>{{material.name}}</p>
    <p>{{material.author}}</p>
    <p>{{material.description}}</p>
    <p>{{material.course}}</p>
    
            <form action="" method="post">
              {% csrf_token %} 
              {{ form.review }}
               <fieldset class="clasificacion">
                    <input id="radio1" type="radio" name="rating" value="5"><!--
                   --><label for="radio1">&#9733;</label><!--
                   --><input id="radio2" type="radio" name="rating" value="4"><!--
                   --><label for="radio2">&#9733;</label><!--
                   --><input id="radio3" type="radio" name="rating" value="3"><!--
                   --><label for="radio3">&#9733;</label><!--
                   --><input id="radio4" type="radio" name="rating" value="2"><!--
                   --><label for="radio4">&#9733;</label><!--
                   --><input id="radio5" type="radio" name="rating" value="1"><!--
                   --><label for="radio5">&#9733;</label>
                </fieldset>
                
       
                <button type="submit">submit</button>
        
            </form>
            
        
            <div class="container">
                <div class="inner">
                  <div class="rating">
                    <span class="rating-num">4.0</span>
                    <div class="Stars" style="--rating: 4.5;" aria-label="Rating of this product is 2.3 out of 5.">
        
        
                    <div class="rating-users">
                      <i class="icon-user"></i> 1,014,004 total
                    </div>
                  </div>
                  
                  <div class="histo">
                    <div class="five histo-rate">
                      <span class="histo-star">
                        <i class="active icon-star"></i> 5           </span>
                      <span class="bar-block">
                        <span id="bar-five" class="bar">
                          <span>566,784</span>&nbsp;
                        </span> 
                      </span>
                    </div>
                    
                    <div class="four histo-rate">
                      <span class="histo-star">
                        <i class="active icon-star"></i> 4           </span>
                      <span class="bar-block">
                        <span id="bar-four" class="bar">
                          <span>171,298</span>&nbsp;
                        </span> 
                      </span>
                    </div> 
                    
                    <div class="three histo-rate">
                      <span class="histo-star">
                        <i class="active icon-star"></i> 3           </span>
                      <span class="bar-block">
                        <span id="bar-three" class="bar">
                          <span>94,940</span>&nbsp;
                        </span> 
                      </span>
                    </div>
                    
                    <div class="two histo-rate">
                      <span class="histo-star">
                        <i class="active icon-star"></i> 2           </span>
                      <span class="bar-block">
                        <span id="bar-two" class="bar">
                          <span>44,525</span>&nbsp;
                        </span> 
                      </span>
                    </div>
                    
                    <div class="one histo-rate">
                      <span class="histo-star">
                        <i class="active icon-star"></i> 1           </span>
                      <span class="bar-block">
                        <span id="bar-one" class="bar" style="width: 50%;">
                          <span>136,457</span>&nbsp;
                        </span> 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
</body>
</html>
