{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% load static %}

<head>
    <!-- <link rel="stylesheet " href="{% static 'styles/bootstrap.min.css' %}"> -->
    <link href="{% static 'styles/main_3f6952e4.css' %}" rel="stylesheet">
</head>
<header>
    <nav class="navbar  navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav ">
                <li><a href="./home.html" title="" style="color: black; font-size: xx-large;">Home</a></li>
                <li><a href="./about.html" title="" style="color: black; font-size: xx-large;">About</a></li>
                <li><a href="./contact.html" title="" style="color: black; font-size: xx-large;">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="section-container">
    <!-- <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./images/work001-04.jpg')"> -->
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="template-example">
                <h3>Enter your</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="name">First Name:</label>
                            <input type="text" class="form-control" id="name" name="first_name"
                                placeholder="Given name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="name">Last Name:</label>
                            <input type="text" class="form-control" id="name" name="last_name"
                                placeholder="Father's name" />
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="someone@example.com">
                </div>
                <div class="input-group">
                    <label for="id">ID:</label>
                    <input type="text" class="form-control" id="id" name="username" placeholder="aaa/nnnn/nn" />
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group ">
                            <label>School:</label>
                            <select class="form-control" name="school">
                                {% for school in schools %}
                                <option value="{{school.id}}">{{school}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label>Year:</label>
                            <select class="form-control" name="year">
                                {% for year in years %}
                                <option value="{{year.id}}">{{year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <label>Semester:</label>
                            <select class="form-control" name="semester">
                                {% for semester in semesters %}
                                <option value="{{semester.id}}">{{semester}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class=" input-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password1" placeholder="8-characters" />
                </div>
                <div class="input-group">
                    <label for="pwd">Confirm password:</label>
                    <input type="password" class="form-control" id="pwd" name="password2" placeholder="8-characters" />
                </div>
                <br>
                <div class="input-group">
                    <label for="signup"></label>
                    <input type="submit" class="btn btn-primary btn-lg" id="signup" name=" submit " value="Sign Up " />
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/main.70a66962.js' %}"></script>

<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>